
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}


body{
	background-image: url('beauty.jpg');
		z-index: 1;
	text-align: center;
}
video {
	background-image: url("background.MOV");
    max-width: 100%;
    height: auto;
}


table{
	
	
	}

td: {
    background-color: yellow;
	color: black;
	}
	
tr, td {
    background-color:chartreuse ;
    color: white; 
    }
	p{
		font-family: verdana;
		font-size: 20px;
	}
h1{
     border-collapse: collapse;
	
}
h2{
	
     border-collapse: collapse;
		
	}
h3{
     border-collapse: collapse;
		
	}
button{
	 border: 3px solid black;
	 border-spacing: 5px;
	
	  
}
p{
	font: the bohemian;
	font-family:"Times New Roman", Times, serif;
	text-shadow: 1px 1px azur;
}